<head>
<title>ServiceHub | Log In</title>
<link rel="icon" type="image/x-icon" href="/images/360_F_321606502_srp20qA1LTbWdZKZFaGHx1rdcPIStjLb.jpg">
</head>
<body>
    <h1>sign in page</h1>
<form action="/users/create-session" method="post">
    username/email: <input type="email" name="email" id="email"><br>
    password: <input type="password" name="password" id="password"><br>
    <button type="submit">log in</button>
</form>
</body>