<head>
    <title>ServiceHub | Sign Up</title>
    <link rel="icon" type="image/x-icon" href="/images/360_F_321606502_srp20qA1LTbWdZKZFaGHx1rdcPIStjLb.jpg">
    </head>

<body>
    
<h1>sign up page</h1>

<form action="/users/create" method="post">
    name:<input type="text" name="name" id="name" required>
    email:<input type="email" name="email" id="email" required><br>
    password:<input type="password" name="password" id="password" required><br>
    Confirm password:<input type="password" name="confirm_password"><br>
    
    <button type="submit">Sign Up</button>
</form>

</body>