<head>
    <title>ServiceHub | Profile</title>
    <link rel="icon" type="image/x-icon" href="/images/360_F_321606502_srp20qA1LTbWdZKZFaGHx1rdcPIStjLb.jpg">
</head>

<body>
    
    <h1>This is profile page
        
    </h1>
    
    Name: <%=user.name%>
    <br>
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    <br>
    email: <%=user.email %>
    <br>
    <a href="/users/logout"> logout</a>
    <hr>

<h2>list of your favourites vendors</h2>
    
     <ul>
    <% for(let i of Vendor){ %>
        <li>
        <h4> <%= i.name%> </h4>
        <%= i.skill %>
        <br>       
    </li>
         <% } %>
        </ul>

</body>