<head>
    <title>ServiceHub | Profile</title>
    <link rel="icon" type="image/x-icon" href="/images/360_F_321606502_srp20qA1LTbWdZKZFaGHx1rdcPIStjLb.jpg">
    </head>

<body>
    
    <h1>this is profile page <br>
        welcome!
    </h1>
    
    Name: <%=user.name%>
    
</body>