<html>
    <head>       
    
        <link rel="stylesheet" href="<%= assetPath('css/vform.css') %>">
    </head>
    <body>
        <section id="vR">
        <form action="/create-contact" method="post">
        <div class="cover">
        <div class="top">
              <h1>Vendor Registration Form</h1>
            Please fill all the texts in the fields.
        </div><hr>
        <div class="main">
            <p>*Required fields</p>

            <span>  <label for="name">Name</label>
                <sup>*</sup>:<input type="text" name="name" id="name" required placeholder="Your Full Name">
        </span><br>

          <span> <label for="emailId">Email:</label>
            <sup>*</sup>:<br> <input type="email" name="emailId" id="emailId" required placeholder="Valid email Address">
        </span><br>

        <span><label for="phone">Phone no.</label>
            <sup>*</sup>:<br> 
            <input type="number"
             name="phone" 
             id="phone" 
             required 
             placeholder="9XXXXXXX10"
             minlength="10"
            maxlength="10">
        </span><br>
            
        <span><label for="cardNo">Card no.</label>
            <sup>*</sup>:<br> 
            <input type="number"
             name="cardNo" 
             id="cardNo" 
             required 
             placeholder="XXXXXX"
             minlength="4"></span><br>  

            <span><label for="pin">Pincode</label>
                <sup>*</sup>:<br> 
                <input type="number"
                 name="pin" 
                 id="pin" 
                 required 
                 placeholder="XXXXXX"
                 minlength="6"></span><br>    

        <span><label for="message">About:</label> 
            <textarea name="message" id="message" cols="30" rows="10"  placeholder="Your message to potential customers"></textarea></span>

        <span><label for="skill">Profession</label>
            <sup>*</sup>:
             <select name="skill" id="skill" required>
            <option value="" selected>---Select profession---</option>
            <option value="mason">Mason</option>
            <option value="carpenter">Carpenter</option>
            <option value="electrician"> Electrician</option>
            <option value="plumber">Plumber</option>
            <option value="painter">Painter</option>
        </select></span><br> <hr>

        <input type="submit">&NonBreakingSpace; <input type="reset">
         </div>
        </div>
    </form>
    </section>        
        
    </body>
</html>