*{
    /* color: #ffffff; */
    margin:0px;
    padding: 0px;
    
}
body{overflow-x: hidden;}


#logo img{height: 35px;
   
}

#navbar{display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: 'Baloo Bhai 2',cursive;   
    justify-content: space-between;
    padding: 5px;    
}

#navbar ul{
    display:flex;    
    list-style: none;
    width:65%;
    justify-content: space-evenly;
    color: white;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

#navbar ul li a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    padding: 3px 12px;
    border-radius: 22px;
    
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#connectWU{float:inline-end;}
#connectWU img{
    height: 25px;
    margin: 2px;
}


#Home{color: rgb(11, 11, 11);
    display: flex;
    flex-direction: column;
    height: 423px;  
    padding: 3px 20px;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    /* border: 2px solid green; */
}
#Home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height:500px;
    width:100%;
    /* background-color: black; */
    background:url(../images/bg17.jpeg ) no-repeat center center ;
    background-size:cover;
    opacity: 0.7;
    z-index: -1;
}

/* Services section */
#services-Container{
    /* border: 2px solid blue; */
    margin: 10px 0px;
    
}


#services{display:flex;    
justify-content: center;}
.service{
    /* border: 5px solid red; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
width: 20%;
background-color: rgb(234, 232, 232);
padding: 10px;
margin: 10px;}

.service img{height: 5.2rem;}

/* Utility designs */
.btn{background-color: rgb(32, 32, 32);
    color: white;
    opacity: 0.75;
padding: 0.5px 15px;
border-radius: 9px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
/* border: 2px solid whitesmoke; */
box-shadow: 0px 0px 7px whitesmoke;
font-size: 20px;
cursor:pointer;
justify-content: flex-end;}

.center{
    text-align: center;
}
#h-primary,.p1{
    margin: 10px auto;
    /* font-weight: bold; */
    font-family:'Kanit', sans-serif;
    text-shadow: 1.5px 1.5px #ffffff;
}

#search, #pinSelect{border: 0px;
    font-size: large;
   margin: 0px;
   width: 40%;
   padding: 5px;
}
#search{border-radius:5px 0px 0px 5px;}
#pinSelect{border-radius: 0px 5px 5px 0px;}


#find{
    /* border: 2px solid red; */
    border-radius: 18px;
    padding: 0px;
    display: inline-block;
    width: 40%;
 }
    

    .contact-card
    {
        background-color: rgb(183, 195, 220);
        border: 2px solid black;
        display: inline-block;
        width: 60%;
        margin: 1% 20% auto;
        padding: 4px;
    }
    .contact-card p{
        font-size: large;
        margin: 5px;
        background-color: #f0efef;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

