body{
    overflow-y: scroll;
}
#Home{color: rgb(11, 11, 11);
    display: flex;
    flex-direction: column;
    height: 503px;  
    padding: 3px 20px;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    font-weight: bold;
    border-top: 3px solid rgb(255, 255, 255);
}

#Home::before{
    content: "";
    position: absolute;
    top: 62px;
    left: 0px;
    height:500px;
    width:100%;
    background-color: black;
    background:url(../images/bg17.jpeg ) no-repeat center center ;
    background-size:cover;
    opacity: 0.8;
    filter: brightness(45%);
    z-index: -1;
}

#h-primary,.p1{
    margin: 10px auto;
    font-weight: bold;
    color: white;
    font-family:'Kanit', sans-serif;
   
}

.carousel-item{
    height:400px !important;
    overflow: hidden;
}

footer{
    margin-top: 5%;
    background-color: #929fba;    
}

.ek img{
    width: 100%;
    object-fit: contain !important;
    
}

.carousel-item img{
    height: 100%;
    object-fit: fill !important;
   
}

h5{
    color: #4a4a4a;
}


.vendor {
    height: 50vh;
    
}


  /* .vendor ul{
    margin: auto;
    list-style: none;
  } */

  header{position: sticky;
    top: 0px;}

    
    